.combobox {
    display: inline-block;
    position: relative;
}

.input_wrapper {
    position: relative;
}

.input {
    flex: 1;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.trigger {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

input:disabled + .trigger {
    cursor: default;
    opacity: 0.5;
}

.picker {
    position: absolute;
    min-width: 100%;
    width: max-content;
    max-width: 95vw;
}

.waiting {
    background-color: burlywood;
}