.listbox {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    transform: translateZ(0px);
}

.listbox:not(:empty) {
    border: 1px solid #ccc;
    z-index: 1;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    border: 1px solid #ccc;
}

.option {
    cursor: pointer;
}

.option + .option {
    border-top: 1px solid #ccc;
}

._default {
    padding: 8px;
}

._default:before {
    content: ' ';
    display: inline-block;
    width: 1em;
}

.selected ._default:before {
    content: '✓';
}

.option:hover ._default,
.focus ._default {
    background-color: #0068d6;
    color: #fff;
}